header {
  position: fixed;
  width: 100%;

  section {
    background-color: #fff;
    color: #f1803a;
    width: 100%;
    height: 80px;
    position: sticky;
    display: flex;
    align-content: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 17%) 0px 5px 20px;
    font-weight: 400;
    padding: 5px 25px;
    margin-bottom: 20px;

    .cart,
    .search,
    .back-to-home,
    .back-to  {
      background: none;
      border: none;
      color: #f1803a;

      :hover {
        color: #dad7d5;
      }
    }


    .help {
      background: none;
      border: none;
      color: #f1803a;

      :hover {
        font-weight: 500;
      }
    }

    div {
      vertical-align: middle;
    }

    span {
      display: flex;
      justify-content: flex-end;
      align-content: space-around;
    }

    form {
      font-size: 24px;
      input:not(focus) {
        outline:none;
        border-radius: 5px;
        border: 1px solid rgb(0 0 0 / 17%);
      }
      :focus {
        outline: none;
        border: 1px solid #f1803a;
      }
    }

    input {
      font-size: 18px;
    }
  }
}
