.popout-section {
  z-index: 10000;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  display: none;

  background-color: rgba(0, 0, 0, 0.50);

  .popout {
    position: relative;
    margin: auto;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    border: 2px solid rgb(0 0 0 / 17%);
    background-color: #f5f3f1;
  }

  .order-quantity {
    border: none;
    resize: none;
    outline: none;
    font-size: 20px;
    width: 25px;
    height: 25px;
    background-color: transparent;
  }

  .add-to-order {

    .toggle-less,
    .toggle-more {
      cursor: pointer;
      background: none;
      border: none;
      color: #f1803a;

      :hover {
        color: #ea6410;
      }
    }
  }
}
