// See: https://sass-lang.com/
body,
html {
  margin: 0;
}

main {

  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  padding-top: 100px;
  .website-body {
    min-width: 680px;
    width:100%;
  }

  .order-section {
    min-width: 344px;
  }
}
