// Menu Carousel
.dynamic-menu {
  display: flex;
  width: 100%;
  flex-flow: column;

  .carousel {
    display: flex;
    flex-flow: column;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(0 0 0 / 17%);

    .scroll-left, .scroll-right {
      cursor: pointer;
      background: none;
      border: none;
      color: #f1803a;

      :hover {
        color: #ea6410;
      }
    }

    .item-bar {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      padding-bottom: 10px;

      h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .menu-items {
      display: flex;
      height: 230px;
      overflow-x: scroll;
      scroll-behavior: auto;
      overscroll-behavior-x: contain;

      .expand-food {
        cursor: pointer;
        width: 170px;
        border: none;
        padding: 0 6px;

        .food-picture-box {
          min-width: 150px;
          max-width: 150px;
          min-height: 150px;
          max-height: 150px;
          overflow: hidden;
          border-radius: 10px;


          .food-picture {
            height: 150px;
          }
        }

        .menu-item-text {
          min-height: 80px;
          max-height: 80px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;

          .food-name {
            padding-top: 5px;
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
          }

          .price {
            margin: 0;
            font-size: 14px;
            font-weight: 300;
            text-align: left;
          }
        }
      }
    }
  }
}
