.checkout-website-body {
  display: flex;
  flex-flow: column;
  margin-right: auto;
  margin-left: auto;
  min-width: 680px;
  width: 100%;
  max-width: 1000px;
  padding-right: 2%;
}

.checkout-order-summary {}
