.cart-container {
  position: fixed;
  border-radius: 20px;
  border: 2px solid rgb(0 0 0 / 17%);
  margin-left: 20px;
  padding: 15px;
  width: 450px;
  max-width: 450px;
  height: 600px;
  max-height: 600px;
  display: flex;
  flex-flow: column;
  align-content: space-between;
  background-color: #fff;

  .cart-header {
    padding: 5px;
    border-bottom: 2px solid rgb(0 0 0 / 17%);

    p {
      text-align: center;
      font-weight: 900;
      margin: 0;
      font-size: 20px;
    }
  }
}

.order-summary {
  height: 500px;
  max-height: 500px;
  overflow: auto;
  border-bottom: 2px solid rgb(0 0 0 / 17%);
}

.order-items {
  color: rgb(0 0 0 / 66%);
  display: flex;
  align-content: center;
  font-weight: 600;
  font-size: 14px;
  justify-content: space-between;
  padding: 10px 5px;

  .quantity-item {
    display: flex;
    align-content: center;
    align-items: center;
    min-width: 60%;
    padding: 10;
    font-size: 16px;
    min-height: 30px;

    div {
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      min-height: 30px;
      max-height: 30px;
      min-width: 30px;
      max-width: 30px;
      background-color: #f1803a;
      color: #f5f3f1;
      border-radius: 30px;
      margin-right: 10px;
    }

    .food-name-incart {
      margin: 0;
    }
  }

  .foodpic-div {
    height: 80px;
    min-width: 20%;
    display: flex;
    overflow-x: hidden;


    .food-picture-incart {
      display: flex;
      height: 100%;
      justify-content: center;
    }
  }

  .price-delete {
    display: flex;
    align-items: center;
    min-width: 20%;
    justify-content: right;

    span {
      padding-left: 5px;
      font-size: 12px;
      font-weight: 600;
    }

    .remove-item {
      cursor: pointer;
      background: none;
      border: none;
      color: #f1803a;

      :hover {
        color: #ea6410;
      }
    }
  }
}


.go-to-checkout {
  cursor: pointer;
  justify-self: flex-end;
  margin: 0 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #f1803a;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(17, 17, 17, 0.15) inset;

  :hover {
    background-color: #ea6410;
    box-shadow: 0px 0px 3px 4px #ea6410;
  }

  p {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}
