// Fixed Restaurant Banner
.restaurant-banner {
  border-bottom: 2px solid rgb(0 0 0 / 17%);
  height: 400px;
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;


  .image-holder {
    align-self: center;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    min-height: 250px;
    border-radius: 25px;
  }

  .banner-image {
    width: auto;
    height: auto;
  }

  .restaurant-name {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 40px;
  }

  .banner-body {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    height: 100px;

    p {
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      color: rgb(0 0 0 / 50%);

      i {
        color: #f1803a;

      }
    }
  }
}

// Menu Carousel
.dynamic-menu {
  display: flex;
  width: 100%;
  flex-flow: column;

  .carousel {
    display: flex;
    flex-flow: column;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(0 0 0 / 17%);

    .item-bar {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      padding-bottom: 10px;

      h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
      }

      .scroll-left,
      .scroll-right {
        cursor: pointer;
        background: none;
        border: none;
        color: #f1803a;

        :hover {
          color: #ea6410;
        }
      }
    }

    .menu-items {
      display: flex;
      height: 230px;
      overflow-x: scroll;
      overscroll-behavior: contain;


      .expand-food {
        width: 170px;
        border: none;
        padding: 0 6px;

        .food-picture-box {
          min-width: 150px;
          max-width: 150px;
          min-height: 150px;
          max-height: 150px;
          overflow: hidden;
          border-radius: 10px;


          .food-picture {
            height: 150px;
          }
        }

        .menu-item-text {
          min-height: 80px;
          max-height: 80px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;

          .food-name {
            padding-top: 5px;
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
          }

          .price {
            margin: 0;
            font-size: 14px;
            font-weight: 300;
            text-align: left;
          }
        }
      }
    }
  }
}
